
 <!-- Carousel -->
  <div id = "slides" class = "carousel slide" data-ride = "carousel">
    <ul class="carousel-indicators">
      <li data-target = "#slides" data-slide-to="0" class="active"></li>
      <li data-target = "#slides" data-slide-to="1" ></li>
      <li data-target = "#slides" data-slide-to="2" ></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src ="/assets/Images/1.jpg" >
        <div class="carousel-caption">
             <h3>Build Your Unique Online Presence in market</h3>
             <br>
             <button type="button" class="btn btn-outline-light btn-lg">Services</button>
        </div>
      </div>
      <div class="carousel-item ">
        <img src ="/assets/Images/2.jpg" >
        <div class="carousel-caption">
          <h3> Complete Solution to Website Development</h3>
          <br>
          <button type="button" class="btn btn-outline-light btn-lg">Services</button>
     </div>
      </div>
      <div class="carousel-item ">
        <img src ="/assets/Images/3.jpg" >
        <div class="carousel-caption">
          <h3>Promote and Grow Your Business Online</h3>
          <br>
          <button type="button" class="btn btn-outline-light btn-lg">Services</button>
     </div>
      </div>
    </div>
  </div>

  <!-- Additional Content 1-->

  <div class="container-fluid padding additional1">
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    <div class="row text-center row2">
      <div class="col-sm-12 col-md-6">
         <h1 class="display-4" style="color: white;font-weight: bold;">Freedom to Get the Websites Developed You Want</h1>
         
      </div>
      <div class="col-sm-12 col-md-6">
        <p style="color: white;">Design and build your own high-quality websites. Whether you’re promoting your business, showcasing your work, opening your store or starting a blog—you can do it all with the Wix website builder.</p>
        <button type="button" class="btn btn-light btn-lg">Services</button>
      </div>
    </div>
  </div>


<!-- additional content 2 -->
  <div class="container-fluid padding additional2">
    
    <div class="row text-center row2">
      <div class="col-md-6">
         <h1 class="display-4" style="color: white;font-weight: bold;">Build Your Unique Online Presence</h1>
         <div class= "row">
           <div class = "col-sm-6 horizontal"><hr>
             <div class= "row text-center">
              <div class = "col-sm-12">
                <h2 class="display-5" style="color:white;">Customize your site</h2>
                <p style="color:white;">Pick a template and customize anything, or answer a few questions and get a free website designed just for you.</p>
              </div>
             </div>
            </div> 
           <div class = "col-sm-6 horizontal"><hr>
            <div class= "row text-center">
              <div class = "col-sm-12">
                <h2 class="display-5" style="color:white;">Customize your site</h2>
                <p style="color:white;">Pick a template and customize anything, or answer a few questions and get a free website designed just for you.</p>
              </div>
             </div> 
           </div>
         </div>
         <!-- <div class= "row text-center">
          <div class = "col-sm-6">
            <h2 class="display-5" style="color:white;">Customize your site</h2>
            <p style="color:white;">Pick a template and customize anything, or answer a few questions and get a free website designed just for you.</p>
          </div>
          <div class = "col-sm-6">
            <h2 class="display-5" style="color:white;">Customize your site</h2>
            <p style="color:white;">Pick a template and customize anything, or answer a few questions and get a free website designed just for you.</p>
          </div>
        </div> -->
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="assets/Images/4.jpg" class="img-fluid ">  
      </div>
    </div>
  </div>

  <!-- testimonials -->
<div class="container-fluid padding testimonials">
  <div class="row text-center">
    <div class="col-12">
      <h1 class="display-5">TESTIMONIALS</h1>
      <hr>
    </div>
  </div>
</div>


<!-- testimonials Card-->
<div class="testimonials-cards">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="img1"><img src="https://i.pinimg.com/originals/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg" alt=""></div>
          <div class="img2"><img src="https://static.vecteezy.com/system/resources/thumbnails/001/503/756/small/boy-face-avatar-cartoon-free-vector.jpg" alt=""></div>
          <div class="main-text">
            <h2>Piyush</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, quibusdam beatae excepturi dicta reprehenderit odit accusamus dolore ad autem aperiam magni earum deserunt eveniet nam delectus fugiat mollitia eligendi soluta?</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="img1"><img src="https://i.pinimg.com/originals/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg" alt=""></div>
          <div class="img2"><img src="https://static.vecteezy.com/system/resources/thumbnails/001/503/756/small/boy-face-avatar-cartoon-free-vector.jpg" alt=""></div>
          <div class="main-text">
            <h2>Manish</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, quibusdam beatae excepturi dicta reprehenderit odit accusamus dolore ad autem aperiam magni earum deserunt eveniet nam delectus fugiat mollitia eligendi soluta?</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="img1"><img src="https://i.pinimg.com/originals/af/8d/63/af8d63a477078732b79ff9d9fc60873f.jpg" alt=""></div>
          <div class="img2"><img src="https://static.vecteezy.com/system/resources/thumbnails/001/503/756/small/boy-face-avatar-cartoon-free-vector.jpg" alt=""></div>
          <div class="main-text">
            <h2>Adiba</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, quibusdam beatae excepturi dicta reprehenderit odit accusamus dolore ad autem aperiam magni earum deserunt eveniet nam delectus fugiat mollitia eligendi soluta?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
