.clubbed_screen{
  margin: 0px;
  padding: 0px;
}

.contact_us{
  max-width:800px;
  margin:50px auto;
  position:relative;
  box-shadow: 0 10px 30px 0px rgba(0,0,0,0.1);
  padding:30px;
}

.contact_us .title{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 3em;
  line-height: 48px;
  padding-bottom: 20px;
  color:#5543ca;
  background: linear-gradient(to right,#f4524d 0%,#5543ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}

.contact-form .form-field{
  position:relative;
  margin: 32px 0px;
}

.contact-form .input-text{
 display: block;
 width: 100%;
 border-width: 0 0 2px 0;
 border-color: #5543ca;
 font-size: 18px;
 line-height: 26px;
 font-weight: 400;
} 

.contact-form .textarea{
  border-width: 2px 2px 2px 2px;
  border-color: #5543ca;
}

.contact-form .input-text:focus ~ .label{
  transform: translateY(-24px);
} 

.contact-form .input-text:valid ~ .label{
  transform: translateY(-24px);
}

.contact-form .textarea:focus + .label,
.contact-form .textarea:valid + .label
{
  transform: translateY(-45px);
  
} 

.contact-form .input-text:focus
{
  outline:none;
}

.contact-form .label{
  position:absolute;
  left:20px;
  bottom:13px;
  font-size: 18px;
  line-height:26px;
  font-weight:400;
  color:#5443ca;
  cursor: text;
  text-transform: capitalize;
  transition: transform 0.2s ease-in-out;
  

}

.contact-form .submit-btn{
  display:inline-block;
  background-image: linear-gradient(125deg,#a72879,#064497);
  color:#fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding:8px 16px;
  font-size: 16px;
  border:none;
  width: 200px;
  cursor: pointer;
}